* {
  box-sizing: border-box;
}

body {
  padding: 40px;
}

.container {
  background-color: lightgrey;
  width: 80%;
  margin: 0 auto;
}

header h1 {
  color: red;
  font-size: 40px;
  float: left;
}

 header h2 {
  color: grey;
  font-size: 20px;
  float: left;
}
 
.topnav a {
  background-color: black;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

main {
  display: inline-block;
  background-color: white;
  width: 60%;
  vertical-align: top;
}

aside {
  display: inline-block;
  background-color: white;
  width: 38%;
  padding: 40px;
}

aside img {
  width: 100%;
}

article img {
  width: 100%;
}

time {
  color: grey;
}

a {
  text-align: right;
}

.title {
  display: inline-block;
}
