* {
  box-sizing: border-box;
}
body {
  max-width: 990px;
  background-color: lightgrey;
}
header {
  display: flex;
}
header img {
  background-color: red;
  border: 2px solid black;
  display: inline-block;
}

header h2 {
  display: inline-block;
  font-size: 25px;
  margin: auto;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

section {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 15px;
  border-radius: 20px;
}

button {
  background-color: lightgrey;
  border-radius: 5px;
  border: 0;
  font-size: 10px;
}


input {
  background-color: lightgrey;
  border: 2px solid black;
  margin: 10px auto;
  padding: 13px 13px 13px 0;
  font-size: 13px;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
}

input::placeholder {
  color: black;
}

p {
  font-size: 30px;
  justify-content: center;
  margin: 0 auto;
}

h3 {
  font-size: 15px;
  justify-content: center;
}

h4 {
  font-size: 10px;
  justify-content: center;
}

.logo {
  background-color: red;
  border: 2px solid black;
  width: 200px;
  padding: 30px;
  text-align: center;
  margin: 25px 0 0 25px;
  display: inline-block;
}

.savings {
  background-color: orange;
  border: 2px solid black;
}

.checking {
  background-color: yellow;
  border: 2px solid black;
}
