html, body {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

input {
  width: 200px;
  height: 30px;
  font-size: 18px;
}

button {
  width: 60px;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
}
