body {
  background-color: lightgrey;
  text-align: left;
}

h3 {
  text-align: left;
  padding-top: 20px;
}

header {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;

}

footer img {
  align-items: center;
}

section {
  background-color: white;
  box-sizing: border-box;
  width: 40%;
  text-align: left;
  margin-left: 40px;
  float: left;

}

aside {
  background-color: white;
  display: inline-block;
  float: left;
  width: 20%;
}

ul {
  font-weight: bold;
  text-decoration: none;
}

.dotted_line {
 color: black;
 border-bottom: 1px dotted;
}

.solid_line {
  color: black;
}

.logo {
  display: block;
  margin: auto;
}

.comments {
  color: #d45900;
}

.download {
  color: #d45900;
  text-decoration: none;
}

.author {
  color: #d45900;
}

.section_content {
  width: 550px;
  padding: 20px;
}

.clearfix {
  overflow: auto;
}
