<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock app</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Stock App</h1>
  <div class="wrapper">
    <%= @stock_hash %>
  </div>
  </body>
</html>
