<h2>List of pokemons</h2>

<form class="" action="/pokemons/new" method="get">
  <button>Add a Pokemon</button>
</form>

<br>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Nickname</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon|%>
    <tr>
      <td><%= pokemon.species %></td>
      <td><%= pokemon.nickname %></td>
      <td><%= pokemon.level %></td>
    </tr>
    <% end %>
  </tbody>
</table>
