<div class="new">
  <h1>Submit a new pokemon</h1>
  <form class="" action="/" method="get">
    <button>Home</button>
  </form><br>

  <form action="/pokemons" method="post">
    <input type="hidden" name="_method" value="">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Species</label>
    <input type="text" name="species">
    <label>Nickname</label>
    <input type="text" name="nickname">
    <label>Level</label>
    <input type="text" name="level">
    <button>Add</button>
  </form>
</div>
