
<h1 class="search_title">Movie Search</h1>

<form action="/search_result" id="search-form_3">
<input type="text" class="search_3" placeholder="Movie Title" name="title"/>
<input type="submit" class="submit_3" value="Search" />
</form>
