<h1>Search Results for <%= @movie %></h1>

  <div class="search_list">
    <ul>
      <% @search.each do |movie| %>
        <a href="/movie_result?id=<%= movie["imdbID"] %>">
          <li><%= movie["Title"] %></li>
        </a>
      <% end %>
    </ul>
  </div>
