body {
  background-image: url(./bank-vault.jpg);
}

.password {

}

.password__input {
  width: 150px;
  height: 25px;
  font-size: 15px;
}

.password__footer {
  margin-top: 8px;
  font-weight: bold;
}
