<h1>Submit a new project</h1>

<form action="/projects" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name</label>
  <input type="text" name="title">
  <input type="file" name="preview">

  <button>Post</button>
</form>
